@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rochester&display=swap');
@import "tailwindcss";

:root {
  --lightPink: #ECE3DB;
}

@theme {
  --color-lightPink: var(--lightPink);
  --font-poppins: 'Poppins', sans-serif;
  --font-rochester: 'Rochester', serif;
}

/* Make slick dots larger */
.slick-dots li button:before {
  position: relative;
  z-index: 20;
  font-size: 15px !important; 
  transform: translateY(-15dvh); 
}

.slick-dots li.slick-active button:before {
  color: #FF6F61 !important; 
}


.flower-shadow {
  filter: drop-shadow(15px 25px 10px rgba(0, 0, 0, 0.438));
}

.whybg {
  background: rgb(247,102,160);
  background: radial-gradient(circle, rgba(247,102,160,0.340756285424326) 24%, rgba(247,102,160,0.7525209913066789) 55%); 
}